/*
* @Author: dongge
* @Date:   2018-04-25 19:01:28
* @Last Modified by:   dongge
* @Last Modified time: 2018-05-21 17:35:12
*/
*{
	margin: 0;
	/* 内边距 */
	padding: 0;
	font-family: "苹方","微软雅黑","宋体";
}
a{
	/* 清除下划线 */
	text-decoration: none;
	color:#b0b0b0; 
}
i{
	/* 设置文字样式：正常 */
	font-style: normal;
}
.nav{
	width: 100%;
	height: 105px;
	background: #f7f8f8;
}
.main{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
}
.logo{
	width: 165px;
	height: 94px;
	margin-left: 81px;
	margin-top: 11px;
	float: left;
}
.logo img{
	width: 165px;
	height: 94px;
}
.nav .main .right{
	width: 908px;
	height: 88px;
	margin-left:117px ;
	margin-top: 10px;
	float: left;
	/* background: red; */
}
.nav .main .right a{
	display: inline-block;
	color: rgb(113, 113, 113);
    font-size: 15px;
    margin-top: 49px;
    margin-bottom: 0px;
    float: left;
    margin-left: 69px;
}
.nav .main .right a:hover{
	color: #b30e0e;
}
.banner{
	width: 100%;
	height:194px ;
	float: left;
	position: relative;
}
.banner img{
	width:100%;
	height: 194px;
}
.banner span{
	position: absolute;
	top: 32px;
	left: 402px;
	z-index: 999;
	display: inline-block;
}
.banner span:nth-child(2){
	top: 90px;
	left: 463px;
}
.js{
	width: 100%;
	height: 87px;
	margin-top: 43px;
	margin-bottom: 21px;
	margin-left: 70px;
	border-bottom: 1px solid #ececec;
	float: left;
	position: relative;
	/* background: pink; */
}
.js p{
	display: inline-block;
	top: 48px;
	left: 0;
	position: absolute;
}
.zp{
	width: 1240px;
	height: auto;
	float: left;
	margin-left:70px;
	overflow: hidden;	
}
.zp .box {
	width: 391px;
	height: 326px;
	margin-bottom: 16px;
	float: left;
	border: 1px solid #ececec;
	position: relative;
	margin-right: 20px;
}
.zp .box .box1{
	width: 100%;
	height: 279px;
	float: left;
	overflow: hidden;
}
.zp .box  img {
	width: 100%;
	height: 279px;
	float: left;
}
.zp .box span{
	color: black;
	left: 149px;
	top: 290px;
	position: absolute;
}
.zp a .box .box1:hover img{
    transform: scale(1.1);
    transition:0.7s;
}
.zp a .box:hover span{
    color: #822e26;
    transition:0.7s;
}
.tab{
	width: 100%;
	height: 206px;
	background-color: #323232;
	float: left;
	margin-top: 100px;
}
.wz{
	width:578.6px ;
	height:120.25px ;
	float: left;
	margin-left:95px ;
	margin-top:56px;
	/* background: pink; */
}
.wz .wz1{
	width: 100%;
	height: 25px;
	/* background: blue; */
}
.wz  .wz1 a{
	color: #fff;
    padding: 0 5px;
    line-height: 25px;
    font-size: 16px;
    float: left;
}
.wz .weizhi{
	width: 100%;
	height: 26px;
	line-height:26px ;
	font-size:15px ;
	float: left;
	color: #fff;
    padding: 28px 0 12px;
}
.wz p{
	margin-top:10px;
	color: white;
	float: left;
}